.autohide {
    transition: transform 0.3s ease-in-out;
}

.scrolled-down {
    transform: translateY(-100%);
}

.scrolled-up {
    transform: translateY(0);
}

#sticky-navbar-container {
    position: sticky;
    top: 0;
    z-index: 1050;
}