<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 border-end">
      <div class="p-3">
        <h3>Raw Code</h3>
        <textarea
          id="raw-code-input"
          class="form-control"
          style="height: 80vh; resize: none"
        ></textarea>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-3">
        <h3>Rendered Version</h3>
        <div
          id="rendered-output"
          class="border rounded p-3"
          style="height: 80vh; overflow-y: auto"
        ></div>
      </div>
    </div>
  </div>
</div>
